body{
    background: linear-gradient(to bottom,violet,black);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
#counter{
    display: block;
    text-align: center;
    font-size: 15em;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#btns{
    text-align: center;
    
}
.buttons{
    text-align: center;
    padding: 20px 40px;
    margin: 20px 10px;
    border-radius: 20px;
    color: rgb(245, 108, 255);
    background-color: black;
    font-size: 2em;
    font-family:'Courier New', Courier, monospace;
    cursor: pointer;
    transition:background-color 0.4s ease, color 0.9s ease;

}
.buttons:hover{
    background-color: violet;
    color: black;
    font-weight: bold;
}
